In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[101,2000,'sonu'],[102,3000,'monu']])

In [3]:
df

     0     1     2
0  101  2000  sonu
1  102  3000  monu

In [4]:
df=pd.DataFrame([[101,2000,'sonu'],[102,3000,'monu']],columns=['eid','sal','name'])
df

   eid   sal  name
0  101  2000  sonu
1  102  3000  monu

In [5]:
df=pd.DataFrame([[101,2000,'sonu'],[102,3000,'monu']],columns=['eid','sal','name'],index=[1,2])
df

   eid   sal  name
1  101  2000  sonu
2  102  3000  monu

In [6]:
df=pd.DataFrame({'eid':[101,102,103],'sal':[1000,1500,1200]})
df

   eid   sal
0  101  1000
1  102  1500
2  103  1200

In [11]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\panka\anaconda3\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

In [13]:
pd.read_excel("G:/DS & ML/dataset/analysis/movies_sheets.xls")

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [19]:
df=pd.read_excel("g:/dataset/analysis/movies_sheets.xls",sheet_name='2000s')
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,102 Dalmatians,2000,Adventure|Comedy|Family,English,USA,G,100.0,1.85,85000000.0,66941559.0,...,2000.0,795.0,439.0,4182,372,1,26413,77.0,84.0,4.8
1,28 Days,2000,Comedy|Drama,English,USA,PG-13,103.0,1.37,43000000.0,37035515.0,...,12000.0,10000.0,664.0,23864,0,1,34597,194.0,116.0,6.0
2,3 Strikes,2000,Comedy,English,USA,R,82.0,1.85,6000000.0,9821335.0,...,939.0,706.0,585.0,3354,118,1,1415,10.0,22.0,4.0
3,Aberdeen,2000,Drama,English,UK,NaN,106.0,1.85,6500000.0,64148.0,...,844.0,2.0,0.0,846,260,0,2601,35.0,28.0,7.3
4,All the Pretty Horses,2000,Drama|Romance|Western,English,USA,PG-13,220.0,2.35,57000000.0,15527125.0,...,13000.0,861.0,820.0,15006,652,2,11388,183.0,85.0,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,X-Men Origins: Wolverine,2009,Action|Adventure|Fantasy|Sci-Fi|Thriller,English,USA,PG-13,119.0,2.35,150000000.0,179883016.0,...,20000.0,16000.0,2000.0,40054,0,0,361924,641.0,350.0,6.7
2096,Year One,2009,Adventure|Comedy,English,USA,PG-13,100.0,1.85,60000000.0,43337279.0,...,10000.0,1000.0,485.0,12258,0,2,76770,203.0,170.0,4.9
2097,Youth in Revolt,2009,Comedy|Drama|Romance,English,USA,R,90.0,1.85,18000000.0,15281286.0,...,12000.0,904.0,729.0,16004,0,2,64646,105.0,192.0,6.5
2098,ZMD: Zombies of Mass Destruction,2009,Comedy|Horror|Sci-Fi,English,USA,R,89.0,1.85,500000.0,NaN,...,199.0,37.0,23.0,292,0,0,3650,39.0,64.0,5.1
2099,Zombieland,2009,Adventure|Comedy|Horror|Sci-Fi,English,USA,R,88.0,2.35,23600000.0,75590286.0,...,15000.0,13000.0,11.0,28011,26000,4,386217,553.0,445.0,7.7

In [20]:
df=pd.read_excel("g:/dataset/analysis/movies_sheets.xls",sheet_name='2010s')
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,11000.0,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,795.0,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,NaN,59774.0,...,24.0,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,191.0,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,NaN,NaN,...,783.0,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16.00,NaN,NaN,...,1000.0,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,1.33,NaN,NaN,...,685.0,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2.00,NaN,NaN,...,511.0,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,27000.0,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,0.0,NaN,NaN,0,124,0.0,12417,51.0,6.0,7.0

In [23]:
pd.read_excel('g:/dataset/analysis/players.xlsx',header=None,names=['roll','age','name'])

      roll  age   name
0    virat   32  12000
1    rohit   30  11900
2  pandaya   27   5000

In [27]:
pd.read_excel('g:/dataset/analysis/players.xlsx',header=None,names=['roll','age','name'])

      roll  age   name
0    virat   32  12000
1    rohit   30  11900
2  pandaya   27   5000

In [29]:
dict_dfs=pd.read_excel('g:/dataset/analysis/players.xlsx',sheet_name=None)
dict_dfs

{'Sheet1':      virat  32  12000
 0    rohit  30  11900
 1  pandaya  27   5000,
 'Sheet2': Empty DataFrame
 Columns: []
 Index: [],
 'Sheet3': Empty DataFrame
 Columns: [aaaa]
 Index: []}

In [30]:
dict_dfs.keys()

dict_keys(['Sheet1', 'Sheet2', 'Sheet3'])

In [33]:
df1=dict_dfs['Sheet1']
df1

     virat  32  12000
0    rohit  30  11900
1  pandaya  27   5000

In [34]:
df2=dict_dfs['Sheet3']
df2

Empty DataFrame
Columns: [aaaa]
Index: []

In [36]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls')
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [37]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',nrows=100)
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"It's a Mad, Mad, Mad, Mad World",1963,Action|Adventure|Comedy|Crime,English,USA,Approved,197,2.76,9400000.0,46300000.0,...,924,898,760.0,4109,0,0,29323,344,61,7.6
96,The Great Escape,1963,Adventure|Drama|History|Thriller|War,English,USA,Approved,172,2.35,4000000.0,NaN,...,773,742,145.0,1785,8000,0,165638,301,111,8.3
97,Tom Jones,1963,Adventure|Comedy|History,English,UK,Unrated,121,1.37,1000000.0,NaN,...,883,269,69.0,1371,328,1,8508,56,30,6.8
98,A Fistful of Dollars,1964,Action|Drama|Western,Italian,Italy,R,99,2.35,200000.0,3500000.0,...,16000,360,93.0,16534,0,1,147566,235,122,8.0
99,A Hard Day's Night,1964,Comedy|Musical,English,UK,Approved,87,1.75,560000.0,515005.0,...,785,725,704.0,2538,0,1,31429,219,105,7.7

In [39]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',nrows=100,skiprows=5)
df

,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,Unnamed: 8,9950,...,426,20,3,455,926,1,7431,84,71,8
0,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36,6.3
1,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
2,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42,6.6
3,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65,7.7
4,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Dr. Strangelove or: How I Learned to Stop Worr...,1964,Comedy,English,USA,PG,95,1.66,1800000.0,NaN,...,654,575,277.0,1991,18000,0,342585,839,192,8.5
96,Goldfinger,1964,Action|Adventure|Thriller,English,UK,Approved,110,1.37,3000000.0,51100000.0,...,387,202,177.0,1198,0,2,139432,418,164,7.8
97,Mary Poppins,1964,Comedy|Family|Fantasy|Musical,English,USA,Approved,139,1.66,6000000.0,102300000.0,...,382,279,266.0,2045,0,2,107408,259,145,7.8
98,My Fair Lady,1964,Drama|Family|Musical|Romance,English,USA,Approved,170,2.20,17000000.0,72000000.0,...,453,272,244.0,1164,0,1,66959,258,82,7.9
99,Nothing But a Man,1964,Drama|Romance,English,USA,Not Rated,95,NaN,160000.0,12438.0,...,581,99,87.0,835,363,1,891,26,24,8.1

In [43]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',nrows=100,skiprows=[1,2,3,4,5])
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36,6.3
1,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
2,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42,6.6
3,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65,7.7
4,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Dr. Strangelove or: How I Learned to Stop Worr...,1964,Comedy,English,USA,PG,95,1.66,1800000.0,NaN,...,654,575,277.0,1991,18000,0,342585,839,192,8.5
96,Goldfinger,1964,Action|Adventure|Thriller,English,UK,Approved,110,1.37,3000000.0,51100000.0,...,387,202,177.0,1198,0,2,139432,418,164,7.8
97,Mary Poppins,1964,Comedy|Family|Fantasy|Musical,English,USA,Approved,139,1.66,6000000.0,102300000.0,...,382,279,266.0,2045,0,2,107408,259,145,7.8
98,My Fair Lady,1964,Drama|Family|Musical|Romance,English,USA,Approved,170,2.20,17000000.0,72000000.0,...,453,272,244.0,1164,0,1,66959,258,82,7.9
99,Nothing But a Man,1964,Drama|Romance,English,USA,Not Rated,95,NaN,160000.0,12438.0,...,581,99,87.0,835,363,1,891,26,24,8.1

In [44]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',nrows=100,skiprows=(1,6))
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1,4.8
1,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48,8.3
2,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260,8.3
3,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71,8.0
4,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,The Great Escape,1963,Adventure|Drama|History|Thriller|War,English,USA,Approved,172,2.35,4000000.0,NaN,...,773,742,145.0,1785,8000,0,165638,301,111,8.3
95,Tom Jones,1963,Adventure|Comedy|History,English,UK,Unrated,121,1.37,1000000.0,NaN,...,883,269,69.0,1371,328,1,8508,56,30,6.8
96,A Fistful of Dollars,1964,Action|Drama|Western,Italian,Italy,R,99,2.35,200000.0,3500000.0,...,16000,360,93.0,16534,0,1,147566,235,122,8.0
97,A Hard Day's Night,1964,Comedy|Musical,English,UK,Approved,87,1.75,560000.0,515005.0,...,785,725,704.0,2538,0,1,31429,219,105,7.7
98,Dr. Strangelove or: How I Learned to Stop Worr...,1964,Comedy,English,USA,PG,95,1.66,1800000.0,NaN,...,654,575,277.0,1991,18000,0,342585,839,192,8.5

In [46]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',usecols=['Title','Year','Duration'])
df

                                                  Title  Year  Duration
0     Intolerance: Love's Struggle Throughout the Ages   1916       123
1                       Over the Hill to the Poorhouse   1920       110
2                                       The Big Parade   1925       151
3                                           Metropolis   1927       145
4                                        Pandora's Box   1929       110
...                                                 ...   ...       ...
1333                                  Twin Falls Idaho   1999       111
1334                     Universal Soldier: The Return   1999        83
1335                                     Varsity Blues   1999       106
1336                                    Wild Wild West   1999       106
1337                                    Wing Commander   1999       100

[1338 rows x 3 columns]

In [50]:
df=pd.read_excel('g:/dataset/analysis/movies_sheets.xls',usecols='A,E')
df

                                                  Title  Country
0     Intolerance: Love's Struggle Throughout the Ages       USA
1                       Over the Hill to the Poorhouse       USA
2                                       The Big Parade       USA
3                                           Metropolis   Germany
4                                        Pandora's Box   Germany
...                                                 ...      ...
1333                                  Twin Falls Idaho       USA
1334                     Universal Soldier: The Return       USA
1335                                     Varsity Blues       USA
1336                                    Wild Wild West       USA
1337                                    Wing Commander       USA

[1338 rows x 2 columns]